<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Express JS | <%= title %></title>
</head>
<body>
    <h1>Express JS</h1>
    <p>Building powerful backend applications</p>
    
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </nav>

    <main class="content">
        <!-- Using a for loop -->
        <% if (data.length > 0) { %>
            <% for (let i = 0; i < data.length; i++) { %>
                <h2><%= data[i].name%></h2>
                <p>Email: <%= data[i].email %></p>
                <p>Age: <%= data[i].age %></p>
                <p>Marital status: <%= data[i].isMarried %></p>
            <% } %>
        <% } %>


        <!-- Using a forEach loop -->
        <% if (data.length > 0) { %>
            <% data.forEach(i => { %>
                <h2><%= i.name%></h2>
                <p>Email: <%= i.email %></p>
                <p>Age: <%= i.age %></p>
                <p>Marital status: <%= i.isMarried %></p>
            <% }); %>
        <% } %>
    </main>
</body>
</html>